<h2>
  {{target.name}}
</h2>

<div>
  {{target.surname}}
  {{target.patronymic}}
  {{target.email}}
  <a href="/targets/{{target.id}}/edit" class="btn btn-success">
    Edit
  </a>
  <form action="/targets/{{target.id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
